$text: rgb(227, 124, 15);
$bg: black;

body{
    display: grid;
    color: $text;
    background: $bg;
}

table{
    width: 50%;
    border-collapse: collapse;
    border: 5px;
    border-color: $text;
}

tr,td{
    border: 1px solid;
    border-color: white;
}

h1{
    text-align: center;
}